---
import "../styles/global.css";

import MainLayout from "../layouts/MainLayout.astro";
import Searchsection from "../components/Searchsection.astro";
import Cardsearch from "../components/Cardsearch.astro";
import Badge from "../components/Badge.astro";
---

<MainLayout hasSearch={true} title="Search">
  <main>
    <h1 class="text-white">Search</h1>
    <Searchsection />
  </main>
</MainLayout>
