---
import "../styles/tokens.css";
import "../styles/base.css";
const { header, description, caption } = Astro.props;
const { newBadge } = Astro.props;
---

<article class="w-[11.25rem] mt-20">
  <div class="">
    <slot />
  </div>
  <h3>{header}</h3>
  <h4>{caption}</h4>
</article>

<style>
  article {
    background-color: var(--cardBgColor);
    border-radius: var(--cardBorderRadius);
    font-family: var(--fontComic);
    box-shadow: var(--shadowDefault);
    background-color: var(--ctaPrimaryBgColor);
  }

  h3 {
    font-weight: var(--tertiaryFontWeight);
    font-size: var(--lgFontSize);
    color: var(--cardBgColor);
    text-align: center;
    padding-top: var(--allSpacing);
  }
  h4 {
    color: var(--cardBgColor);
    font-size: var(--baseFontSize);
    font-weight: var(--primaryFontWeight);
    text-align: center;
    padding-bottom: var(--allSpacing);
  }
</style>
