---
import DiscoverCard from "./DiscoverCard.astro";
const { hasBadge } = Astro.props;
---

<article id="">
  <div class="mt-10">
    <DiscoverCard header="Tintin Adventures " id="tintin-bg" imgPath="imgs/tintindiscover.jpg" />
  </div>
</article>
