---
const { header, description, imgPath } = Astro.props;
---

<article class="container">
  <h3 class="grid text-center my-auto">{header}</h3>
  <img src={imgPath} alt="" height="320" width="620" />
</article>

<style>
  .container {
    display: grid;
    position: relative;
    text-align: center;
    color: white;
  }

  img {
    border-radius: var(--ctaSecondaryBorderRadius);
    box-shadow: var(--shadowDefault);
  }

  h3 {
    font-size: var(--2xlFontSize);
    background-color: var(--ctaTertiaryBgColor);
    font-family: var(--secondary);
    color: var(--ctaPrimaryBgColor);
    position: absolute;
    text-align: center;
    top: 30px;
    padding-left: var(--3xl);
    padding-right: var(--3xl);
    padding-top: var(--sm);
    padding-bottom: var(--sm);
    transform: translate(60%, 500%);
    border-radius: var(--inputBorderRadius);
    box-shadow: var(--shadowDefault);
  }
</style>
