---
const { variant } = Astro.props;
---

<div data-variant={variant} class="label">
  <h6><slot /></h6>
</div>

<style>
  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    text-transform: uppercase;
    text-align: center;
    align-self: end;
  }

  [data-variant="nyhed"] {
    /* background: var(--green-tilbud); */
    width: 75px;
    height: 20px;
  }

  [data-variant="tilbud"] {
    /* background: var(--red-tilbud); */
    width: 36px;
    height: 18px;
  }

  [data-variant="tilbage"] {
    /* background: var(--få-tilbage-yellow);
    color: var(--sort) */
    width: 75px;
    height: 20px;
  }
</style>
