---
const { title } = Astro.props;
const { beskrivelse } = Astro.props;
---

<div class="headline">
  <h1 class="">{title}</h1>
  <p>{beskrivelse}</p>
</div>

<style>
  .headline {
    background-color: var(--royalblue);
    height: 150px;
    text-align: center;
    margin: auto;
    color: white;
  }

  h1 {
    font-weight: var(--fontBold);
    font-size: var(--font-size-lg);
    transform: translate(0, 70%);
  }

  .headline p {
    font-size: var(--font-size-);
    font-weight: var(--fontNormal);
    transform: translate(0, 140%);
  }
</style>
