---
import "../styles/tokens.css";
import "../styles/base.css";
---

<div class="gradient">
  <div class="w-[1280px] mx-auto">
    <nav class="topnav">
      <ul class="flex flex-row-reverse">
        <a class="hover:text-black" href="/">Klub Faraos</a>
        <a class="hover:text-black" href="/about">Butikker</a>
        <a class="hover:text-black" href="/about">Åbningstider</a>
        <a class="hover:text-black" href="/about">Kalender</a>
        <a class="hover:text-black" href="/about">Kundeservice</a>
        <a class="hover:text-black" href="/about">Gavekort</a>
        <a class="hover:text-black" href="/about">Min ønskeliste</a>
        <a class="hover:text-black" href="/about">Login</a>
      </ul>
    </nav>

    <nav class="bottomnav">
      <img class="h-20" src="/imgs/faraoslogo.png" alt="Faraos Logo" /><a href="/"></a>
      <div class="flex justify-between">
        <ul class="flex gap-5 my-auto">
          <a class="hover:scale-110" href="/about">Comics</a>
          <a class="hover:scale-110" href="/about">Antivarisk</a>
          <a class="hover:scale-110" href="/about">Games</a>
          <a class="hover:scale-110" href="/about">Merchandise</a>
          <a class="hover:scale-110" href="/about">Udklædning</a>
          <a class="hover:scale-110" href="/about">Nyheder</a>
          <a class="hover:scale-110" href="/about">Tilbud</a>
        </ul>

        <div class="flex">
          <div class="flex search">
            <input class="" type="text" placeholder="Søg varer..." /><img class="h-5 my-auto justify-between" src="imgs/loupe.png" alt="" />
          </div>

          <img class="h-7 my-auto ml-5" src="imgs/shopping-cart2.png" alt="" /><a href=""></a>
        </div>
      </div>
    </nav>
  </div>
</div>

<style>
  .gradient {
    background: var(--gradientBgColor);
    padding-bottom: var(--lg);
    padding-top: var(--lg);
  }
  .search {
    border-radius: var(--inputBorderRadius);
    border: var(--defaultBorder);
    padding-left: var(--gapSpacing);
    padding-right: var(--gapSpacing);
    padding-top: var(--xs);
    padding-bottom: var(--xs);
    background-color: white;
  }
  .topnav {
    color: var(--secondaryTekstColor);
    padding: var(----primaryXSpacing);
  }

  .topnav ul a {
    padding-left: var(--primaryXSpacing);
    padding-right: var(--primaryXSpacing);
    padding-top: var(--xs);
    padding-bottom: var(--xs);
    font-size: var(--fontBase);
  }

  .bottomnav ul a {
    padding-left: var(--primaryXSpacing);
    padding-right: var(--primaryXSpacing);
    padding-top: var(--xs);
    padding-bottom: var(--xs);
    font-family: var(--fontComic);
    font-weight: var(--fontBold);
    font-size: var(----fontlg);
    text-transform: uppercase;
  }
  .bottomnav {
    margin-bottom: var(--ySpacing);
  }
</style>
