---
import ProductCard from "./ProductCard.astro";
import Button from "./Button.astro";
---

<section class="">
  <ProductCard newBadge={true} titel="Warhammer Fantasy RPG - Core Ruleboo" imgPath="imgs/warhammer.jpg" description="4th edition" price="499,99 Kr" discount1="Oprindeligt:" discount2="649,00 kr." discount3="Spar 23%" shipping="Afs. 1-3 hverdage" />
  <Button />
</section>
