<div>
  <article class="sidebar text-gray-600 font-bold p-5 bg-black w-[320px] h-[100%] absolute top-3">
    <img class="w-40 mb-10" src="/imgs/Spotify-Black-and-White-Logo.png" alt="logo" />
    <div class="flex mb-4">
      <img class="w-7 mr-4" src="imgs/home.png" alt="" />
      <a class="my-auto hover:text-white" href="/">Home</a>
    </div>
    <div class="flex mb-4">
      <img class="w-7 mr-4" src="/imgs/loupe.png" alt="" />
      <a class="my-auto hover:text-white" href="search">Search</a>
    </div>
    <div class="flex mb-4">
      <img class="w-7 mr-4" src="/imgs/music-album.png" alt="" />
      <a class="my-auto hover:text-white" href="">Your Library</a>
    </div>

    <div class="flex mb-4 mt-14">
      <img class="w-7 mr-4" src="/imgs/add.png" alt="" />
      <a class="my-auto hover:text-white" href="">Create Playlist</a>
    </div>
    <div class="flex mb-4">
      <img class="w-7 mr-4" src="/imgs/thumbs-up.png" alt="" />
      <a class="my-auto hover:text-white" href="">Liked Songs</a>
    </div>
    <article class="sidebarlow absolute bottom-20">
      <div class="flex mb-4">
        <a class="my-auto hover:text-white" href="">Cookies</a>
      </div>
      <div class="flex mb-4 border-white border-2 rounded-2xl px-2 py-0.5">
        <img class="w-7 mr-4" src="/imgs/world.png" alt="" />
        <a class="my-auto hover:text-white text-white" href="">English</a>
      </div>
    </article>
  </article>
</div>

<!-- <style>
  .sidebar,
  .sidebarlow {
    height: 100%;
    width: 320px;
    position: fixed;

    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
</style> -->
